{{ form_start(form) }}
<div class="row align-items-center">
    <div class="col-sm-12 col-md-4">
        {{ form_row(form.loanDate) }}
    </div>
    <div class="col-sm-12 col-md-4">
        {{ form_row(form.dueDate) }}
    </div>
    <div class="col-sm-12 col-md-4">
        {{ form_row(form.returnDate) }}
    </div>
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.status) }}
    </div>
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.client) }}
    </div>
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.book) }}
    </div>
    <div class="col-sm-12 col-md-12">
        {{ form_row(form.notes) }}
    </div>


</div>
<div class="card-footer bg-transparent">
    <div class="row">
        <div class="col-sm-12 col-md-6 text-start">
            <a href="{{ path('app_admin_book_loan_index') }}" class="btn btn-sm btn-outline-dark text-start">Voltar à lista</a>
        </div>
        <div class="col-sm-12 col-md-6 text-end">
            <button type="submit" class="btn btn-sm btn-success text-end">Salvar</button>
        </div>
    </div>
</div>
{{ form_end(form) }}
