{% extends 'base.html.twig' %}

{% set title = 'Empréstimos de Livros' %}

{% block body %}
    <div class="ms-sm-auto col-lg-12 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1>{{ title }}</h1>

            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                    <a href="{{ path('app_admin_book_loan_new') }}" type="button" class="btn btn-sm btn-outline-success">
                        <span class="h6"><i class="fa fa-plus"></i> Adicionar Empréstimo</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <table class="table data-table table-striped data-tables">
                            <thead>
                            <tr>
                                <th class="text-start">ID</th>
                                <th>Data de Empréstimo</th>
                                <th>Data de Vencimento</th>
                                <th>Data de Retorno</th>
                                <th>Status</th>
                                <th data-orderable="false" class="text-end">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for book_loan in book_loans %}
                                <tr>
                                    <td class="text-start">{{ book_loan.id }}</td>
                                    <td>{{ book_loan.loanDate ? book_loan.loanDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ book_loan.dueDate ? book_loan.dueDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ book_loan.returnDate ? book_loan.returnDate|date('Y-m-d') : '' }}</td>
                                    <td>{{ book_loan.status }}</td>
                                    <td data-orderable="false" class="text-end">
                                        <div class="btn-group" role="group">
                                            <a href="{{ path('app_admin_book_loan_edit', {'id': book_loan.id}) }}" class="btn btn-sm btn-primary">Editar</a>
                                            {{ include('admin/book_loan/_delete_form.html.twig', { book_loan: book_loan }) }}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}