{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ client.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ client.lastName }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ client.dateOfBirth ? client.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ client.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_client_index') }}">back to list</a>

    <a href="{{ path('app_admin_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}
